<body>
    <h2>Reporte de reservas</h2>
    <p>Cantidad de reservas realizadas: {{  count }}</p>
    <table border="1">
        <thead>
            <th>ID</th>
            <th>Numero de estacionamiento</th>
            <th>Total a pagar</th>
            <th>Nombre del usuario</th>
        </thead>
        <tbody>
            
            {% for item in reservas %}
                <tr>
                    <td>{{item.id}}</td>
                    <td>{{item.numeroEstacionamiento}}</td>
                    <td>{{item.total}}</td>
                    <td>{{item.idUser.username}}</td>
                </tr>
            {% endfor %}
                
        </tbody>
    </table>


</body>
